.vjs-volume-bar.vjs-slider-horizontal {
  width: 5em;
  height: 0.3em;
}

.vjs-volume-level {
  background-color: $progress-bar;
}

.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level { width: 100%; }
.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-handle { left: 4.3em; }

.vjs-mute-control {
  width: 2.5em;
}

.vjs-volume-bar .vjs-volume-handle:before {
  font-size: 2em;
  top: -0.35em;
  left: -0.1em;
  content: '\25AE'
}
