// Include the CSS for the syntax highlighter
@import "highlightjs";
@import "../colors";

$light-gray: #f1f1f1;

$btn--bg: $purple;
$btn--color: #fff;

@mixin display-flex-and-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

html, body { margin: 0; height: 100%; width: 100%; }

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  margin: 0;
  background-color: $light-gray;
  height: 100%;
}

header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.video-js {
  margin: 40px auto;
  box-shadow: 0 10px 70px 4px rgba(0, 0, 0, .56);
}

h1.skin-name {
  margin: 0;
}
p.tagline {
  // padding-bottom: 10px;
}
a {
  color: $purple;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul.links {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}
ul.links li {
  display: inline;
  padding: 0 10px;
}

section {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

section .content {
  width: 720px;
  margin: 0 auto;
  padding: 20px;
}

section.preview {
  background-color: #fff;
  @include display-flex-and-center;
  padding: 0;
  .content { flex: none; }
}
section.usage { background-color: $light-gray; text-align: left; }
section.usage h2 { text-align: center; }

.schemes { margin-top: 10px; }

.schemes button {
  border-radius: 10px;
  cursor: pointer;
  font-size: 110%;
  padding: 10px 20px;
}

pre {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  background-color: $btn--bg;
  color: $btn--color;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
    background-color: lighten($btn--bg, 5%);
  }
}

.usage-method {
  margin: 50px 0;
}
