$purple: #b99beb;
$grey: #333333;
$light-grey: #e6e6e6;

$primary-text: $light-grey !default;
$progress-bar: $purple !default;
$progress-bar-bg: #1B1D1F !default;
$progress-bar-loading: #333333 !default;
